

@import "./css/global/navbar.css";
@import "./css/global/footer.css";
@import "./css/home/venda.css";
@import "./css/home/hero.css";
@import "./css/global/fonte.css";
@import "./css/global/cores.css";
@import "./css/home/comentario.css";
@import "./css/home/garantia.css";
@import "./css/home/carrosel.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* O padrão do corpo é fundo branco com texto escuro, 
       as seções escuras irão sobrescrever isso */
    background-color: var(--slate-950);
    color: var(--slate-900);
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    max-width: 1280px; /* lg:px-8 do tailwind */
    margin: 0 auto;
    padding: 0 1.5rem;
}

.text-center { text-align: center; }



/* ================= Animações de Scroll ================= */
.reveal-scroll { opacity: 0; transform: translateY(30px); transition: all 0.8s ease-out; }
.reveal-scroll.is-visible { opacity: 1; transform: translateY(0); }