/* --- VARIÁVEIS & RESET --- */

@import "../global/cores.css";
@import "../global/fonte.css";
@import "../global/footer.css";
@import "../global/navbar.css";
@import "./endereco.css";
@import "./hero.css";
@import "./orcamento.css";






* { margin: 0; padding: 0; box-sizing: border-box; }
body { font-family: var(--font-inter); color: var(--slate-900); background: #fff; line-height: 1.5; }
a { text-decoration: none; color: inherit; transition: 0.3s; }
ul { list-style: none; }
button, input, textarea, select { font-family: inherit; }

.container { max-width: 1280px; margin: 0 auto; padding: 0 1.5rem; }
.hidden { display: none !important; }
