/* Form Column */
.form-card {
    background: rgba(143, 163, 199, 0.161);
    border-radius: 1rem;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
}
@media (min-width: 1024px) { .form-card { padding: 3rem; } }

.form-title { font-size: 2.8rem; font-weight: 700; margin-bottom: 0.5rem; color: white; }
.form-desc { color: white; margin-bottom: 2rem; font-size: 1.2rem;}

.contact-form { display: flex; flex-direction: column; gap: 1.5rem; }
.form-grid { display: grid; gap: 1.5rem; grid-template-columns: 1fr; }
@media (min-width: 768px) { .form-grid { grid-template-columns: 1fr 1fr; } }

.form-group label {
    display: block; font-size: 1rem; font-weight: 500;
    color: white; margin-bottom: 0.5rem;
}

/* Inputs & Textareas */
input, textarea, select {
    width: 100%;
    height: 3rem;
    padding: 0 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid var(--slate-200);
    background: #fff;
    font-size: 1rem;
    color: var(--slate-900);
    transition: all 0.2s;
}
textarea { height: auto; padding: 0.75rem; resize: none; min-height: 120px; }
input:focus, textarea:focus, select:focus {
    outline: none;
    border-color: var(--indigo-500);
    box-shadow: 0 0 0 2px var(--indigo-50);
}

/* Custom Select Styling */
.select-wrapper { position: relative; }
select { appearance: none; cursor: pointer; }
.select-icon {
    position: absolute; right: 0.75rem; top: 50%;
    transform: translateY(-50%); pointer-events: none;
    width: 1rem; height: 1rem; color: var(--slate-400);
}

/* Submit Button */
.btn-indigo-submit {
    color: black !important;
  background: var(--amber-500);
    padding: 1.8rem 2rem;
    border-radius: 0.75rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    display: inline-flex; align-items: center; justify-content: center; gap: 0.5rem;
    width: 100%;
}
@media (min-width: 768px) { .btn-indigo-submit { width: auto; align-self: flex-start; } }
.btn-indigo-submit:hover {
    background: var(--grad-amber-hover);
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(245, 158, 11, 0.35);
}
.btn-indigo-submit:disabled { opacity: 0.7; cursor: not-allowed; }

/* Animação do Loader */
.animate-spin { animation: spin 1s linear infinite; }
@keyframes spin { from { transform: rotate(0deg); } to { transform: rotate(360deg); } }

.dourado2 {
    color: var(--amber-500);
}