/* --- PROBLEMAS GRID --- */
.prob-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    max-width: 900px; 
    margin: 0 auto; 
}

.prob-card { 
    display: flex; 
    gap: 15px; 
    padding: 25px; 
    background: var(--slate-50); 
    border-radius: 15px; 
}

.icon-red { 
    color: black; 
    background: black; 
    padding: 10px;
    border-radius: 10px; 
    height: fit-content; 
}

.old-prob { 
    text-decoration: line-through; 
    color: black; 
    font-weight: 500; 
}

.new-sol { 
    display: flex; 
    align-items: center; 
    gap: 5px; 
    color:  var(--amber-500); 
    font-weight: 600; 
}

span {
    color: var(--amber-500);
}