
/* --- MANUTENÇÃO --- */
.maint-wrapper {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px; 
    align-items: center;
}

.tag-red { 
    color: var(--red-500);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem; 
}

.maint-features { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 30px; 
}

.m-item { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-weight: 500; 
}

.black-card { 
    background: var(--slate-900); 
    color: white; 
    padding: 40px; 
    border-radius: 20px; 
}

.big-price { 
    font-size: 2.5rem; 
    font-weight: 800; 
    margin: 10px 0; 
}

.big-price span { 
    font-size: 1rem; 
    color: var(--slate-400); 
}

.check-list { 
    list-style: none; 
    margin-top: 20px; 
}

.check-list li { 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.check-list i { 
    color: var(--emerald-500); 
}

.botao {
  color: black !important;
  background: var(--amber-500);
  text-decoration: none;
  padding: 1rem;
  border-radius: 0.25rem;
  font-size: 1.125rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(245, 158, 11, 0.25);
  margin-top: 2rem;
}

.botao:hover {
  background: var(--grad-amber-hover);
  transform: translateY(-2px);
  box-shadow: 0 20px 30px rgba(245, 158, 11, 0.35);
}