
/* --- MANUTENÇÃO --- */
.maint-wrapper {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 50px; 
    align-items: center;
}

.tag-red { 
    color: var(--red-500);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem; 
}

.maint-features { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 30px; 
}

.m-item { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    font-weight: 500; 
}

.black-card { 
    background: var(--slate-900); 
    color: white; 
    padding: 40px; 
    border-radius: 20px; 
}

.big-price { 
    font-size: 2.5rem; 
    font-weight: 800; 
    margin: 10px 0; 
}

.big-price span { 
    font-size: 1rem; 
    color: var(--slate-400); 
}

.check-list { 
    list-style: none; 
    margin-top: 20px; 
}

.check-list li { 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.check-list i { 
    color: var(--emerald-500); 
}

