/* --- PRICING GRID --- */
.price-grid { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px; 
    margin-top: 40px; 
    align-items: stretch;
    color: black;
}

/* --- CARD --- */
.price-card { 
    background: white; 
    border: 2px solid var(--slate-200); 
    padding: 30px; 
    border-radius: 20px; 
    position: relative; 
    transition: box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;
}

/* Faz o botão ficar sempre embaixo */
.price-card .p-btn {
    margin-top: auto;
}

/* CARD DESTACADO (SOBE DE VERDADE) */
.price-card.featured { 
    border-color: var(--amber-500); 
    box-shadow: 0 15px 40px rgba(0,0,0,0.15); 
    margin-top: -2.8rem; /* ✅ FUNCIONA MESMO COM reveal-scroll */
    z-index: 2;
}

/* TAG MAIS POPULAR */
.popular-tag { 
    position: absolute; 
    top: 0; 
    right: 0; 
    background: var(--amber-500); 
    color: white;
    font-size: 0.7rem; 
    font-weight: 800; 
    padding: 6px 14px; 
    border-radius: 0 18px 0 12px; 
}

/* ÍCONE */
.p-icon-box { 
    width: 50px; 
    height: 50px; 
    border-radius: 12px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    color: white; 
    margin-bottom: 20px; 
}

.purple { background: #020617; }
.blue { background: #020617; }

/* PREÇO */
.p-amount { 
    font-size: 1.5rem; 
    font-weight: 800; 
    margin: 15px 0; 
    color: black;
}

.p-amount span { 
    font-size: 0.9rem; 
    color: var(--slate-600); 
    font-weight: 400; 
}

/* LISTA */
.p-list { 
    list-style: none; 
    margin-bottom: 30px; 
    color: black;
}

.p-list li { 
    font-size: 0.9rem; 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
    gap: 8px; 
}

.p-list i { 
    color: var(--emerald-500); 
    width: 16px; 
}

/* BOTÃO */
.p-btn { 
    display: block; 
    text-align: center;
    padding: 12px; 
    background: var(--slate-200);
    text-decoration: none; 
    color: var(--slate-900); 
    font-weight: 600; 
    border-radius: 10px; 
}

.p-btn:hover {
   transform: translateY(-2px);  
}

.p-btn-amber { 
   color: black !important;
  background: var(--amber-500);
}

.p-btn-amber:hover {
      background: var(--grad-amber-hover);
  transform: translateY(-2px);
  box-shadow: 0 20px 30px rgba(245, 158, 11, 0.35);
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .price-grid {
        grid-template-columns: 1fr;
    }

    .price-card.featured {
        margin-top: 0;
    }
}

/* TEXTO DESTAQUE */
.investir {
    color: var(--amber-500);
}

.pacote {
    margin-bottom: 5.7rem;
}

.dinheiro {
    margin-bottom: 0.200rem;
}